/*Dayna Caroline - N°11 - Criação: 02/09*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #edeef1;
    align-items: center;
}

.tudo{
    width: 1200px;
    min-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/*Barra de rolagem------------------------------------------------------------*/
body::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(236, 234, 234);
}

body::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(214, 68, 68);
}

body::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
/*------------------------------------------------------------------------------*/

/*Cabeçalho----------------------------------------------------------------------------------------------------*/

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav span{
    color: red;
}

.navbar img{
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #483bff;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}

.header{
    background: radial-gradient(#eef7ed, #dbffd6);
}

.header .row{
    margin-top: 70px;
}

/*Pesquisa---------------------------------------------------------------------------------------------*/
.pesq_text{
    display: flex;
    margin-top: 5%;
    margin-bottom: -3%;
}

.icon{
    position: absolute;
    color: #505f75;
    margin-left: 57%; 
    background-color: rgb(243, 233, 223);
    border: 1px solid rgba(109, 93, 93, 0.4);
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 1%;
    width: 8%;
    height: 3%;
}

input{
    height: 20%;
    margin-top: 1.5%;
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: left;
    margin-right: 30%;
    margin-left: -20%;
}

/*-----------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------*/

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.titulos, .produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.titulos{
    font-size: 18px;
    color: white;
    padding: 5px;
    background-color: rgb(255, 183, 116);
}

.produtos{
    color: gray; 
    padding: 10px 5px;
    margin-bottom: .5%;
    background-color: rgb(248, 242, 234);
}

.tabela{
    margin: 80px auto;
    width: 100%;
    border-collapse: collapse;
}

.completa{
    display: flex;
    flex-wrap: wrap;
}

.qtde{
    display: flex;
    padding: 5px 15px;
}

.qtde button{
    width: 20px;
    border-radius: 4px;
    background-color: rgb(255, 183, 116);
    text-align: center;
    border: 1px solid #555;
}

.qtde a{
    margin-left: 15px;
    margin-right: 15px;
  font-size: 30px;
}

.produto p{
    margin-left: 10px;
    margin-top: -10px;
}
/*-------------------------------------------------------------------------------------------------------*/

/*Graficos----------------------------------------------------------------------------------------------*/
.internas h3{
    margin-left: 10%;
    margin-bottom: 5%;
}
/*-------------------------------------------------------------------------------------------------------*/

/*Footer--------------------------------------------------------------------------------------------------*/
.footer{
    width: 1200px;
    color: #fff;
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

section{
    flex: 1;
    text-align: center;
}

section ul{
    display: inline-block;
    list-style-type: none;
}

section ul li{
    display: inline-block;
    margin-right: 20px;
}

section img{
    padding-top: 30px;
}

.footer-col-1 ul{
    list-style-type: none;
    padding: 20px 0;
}

.footer-col-1 li{
    display: inline-block;
    margin-right: 20px;
}

.footer a{
    color: #fff;
}

.inicio{
    text-align: right;
    margin-right: 20px;
    font-size: 12px;
}
